{% set innovation_heading = true %}
{% set innovation_title = 'AROUND THE WORLD IN HALF AN HOUR' %}
{% set innovation_subtitle = '' %}

{% set innovation_content = true %}
{% set innovation_content_title = 'SUPER FAST PUBLIC TRANSPORT' %}
{% set innovation_content_paragraph = 'De SpaceX-CEO is van plan om mensen te laten springen in herbruikbare raketten van precies dezelfde soort. Het wordt gebruikt om mensen naar de ruimte te brengen, over de wereld te vliegen en dan weer terug te keren waar het gelanceerd werd. Het plan, als het werkt, veel sneller reizen dan zelfs het snelste vliegtuig.' %}
{% set innovation_content_button = true %}
{% set innovation_content_button_text = 'BUTTON' %}

{% set theme = '' %}

<section class="innovation" id="anchor">
    <div class="innovation__container">
        <div class="innovation__content">
            {% if innovation_heading %}
                <div class="innovation__heading">
                    {% if innovation_title != '' %}
                        <h2 class="innovation__title">{{ innovation_title }}</h2>
                    {% endif %}
                    {% if innovation_subtitle != '' %}
                        <p class="innovation__subtitle">{{ innovation_subtitle }}</p>
                    {% endif %}
                </div>
            {% endif %}

            {% if innovation_content %}
                <article class="innovation__wrapper">
                    {% if innovation_content_title != '' %}
                        <h2 class="innovation__title">{{ innovation_content_title }}</h2>
                    {% endif %}
                    {% if innovation_content_paragraph != '' %}
                        <p class="innovation__paragraph">{{ innovation_content_paragraph }}</p>
                    {% endif %}
                    {% if innovation_content_button %}
                        <button class="button button--left button--{{ theme }}">
                            <span class="button__text">{{ innovation_content_button_text }}</span>
                        </button>
                    {% endif %}
                </article>
            {% endif %}
        </div>
    </div>
</section>
