{% import '../macros/icon.twig' as icons %}

{% set footer_content           = true %}
{% set footer_title             = 'De toekomst opleiden, start vandaag nog' %}
{% set footer_paragraph         = 'Schrijf je vandaag nog in voor de opleiding: Leraar Techniek tweedegraads. Als je nog meer informatie over de opleiding wilt dan kun je hieronder door naar de informatiepagina over de opleiding van de Hogeschool Utrecht.' %}
{% set footer_theme_one         = 'blue' %}
{% set footer_theme_twoo        = 'red' %}
{% set button_counter           = 2 %}
{% set footer_button_text_one   = 'Meer over Leraar Techniek' %}
{% set footer_button_text_two   = 'Schrijf je in voor de opleiding' %}
{% set button_one_link          = 'https://www.studiekeuze.hu.nl/opleidingen/Leraar-Techniek-tweedegraads' %}
{% set button_two_link          = 'https://www.studiekeuze.hu.nl/Aanmelden' %}
{% set footer_facebook          = 'https://www.facebook.com/HogeschoolUtrecht/' %}
{% set footer_twitter           = 'https://twitter.com/HU_Utrecht' %}
{% set footer_instagram         = 'https://www.instagram.com/hogeschoolutrecht/' %}

<footer class="footer">
    <div class="footer__wrapper">
        {% if footer_title != '' %}
            <div class="footer__heading">
                <h2 class="footer__title">{{ footer_title }}</h2>
            </div>
        {% endif %}
        {% if footer_content %}
            <article class="footer__info">
                {% if footer_paragraph != '' %}
                    <p class="footer__paragraph">{{ footer_paragraph }}</p>
                {% endif %}
                {% if button_counter > 0 %}
                    <div class="footer__button-wrapper">
                        {% if button_counter >= 1 and footer_button_text_one != '' %}
                            <a class="button button--{{ footer_theme_one }} footer__button button--margin" href="{{ button_one_link }}" target="_blank">
                                <span class="button__icon-wrapper">
                                    {{ icons.icon('link', 'button__icon icon') }}
                                </span>
                                <span class="button__text">{{ footer_button_text_one }}</span>
                            </a>
                        {% endif %}
                        {% if button_counter >= 2 and footer_button_text_two != '' %}
                            <a class="button footer__button button--{{ footer_theme_twoo }}" href="{{ button_two_link }}" target="_blank">
                                <span class="button__icon-wrapper">
                                    {{ icons.icon('link', 'button__icon icon') }}
                                </span>
                                <span class="button__text">{{ footer_button_text_two }}</span>
                            </a>
                        {% endif %}
                        <div class="c"></div>
                    </div>
                {% endif %}
            </article>
        {% endif %}
    </div>
    <div class="footer__social">
        <div class="footer__logo-wrapper">
            <a href="https://www.hu.nl/" class="footer__link" target="_blank">
                <img src="/assets/img/hu-logo.svg" alt="HU logo" class="footer__logo">
            </a>
        </div>
        <div class="footer__icons">
            <a href="{{ footer_facebook }}" class="footer__link" target="_blank">
                <i class="icon icon--footer fab fa-facebook-f"></i>
            </a>
            <a href="{{ footer_twitter }}" class="footer__link" target="_blank">
                <i class="icon icon--footer fab fa-twitter"></i>
            </a>
            <a href="{{ footer_instagram }}" class="footer__link" target="_blank">
                <i class="icon icon--footer fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
