{#{% set innovation_id                    = '2' %}#}
{#{% set innovation_background            = '/assets/img/innovation_1.jpg' %}#}
{#{% set innovation_title                 = '' %}#}
{#{% set innovation_subtitle              = '' %}#}
{#{% set innovation_content               = true %}#}
{#{% set innovation_content_title         = 'Een bezoek aan jouw toekomstige huis' %}#}
{#{% set innovation_content_paragraph     = 'Met de nieuwe VR technologie kun je binnenkort jouw nieuwe huis in lopen zonder dat er iets gebouwd is. Het enige wat je nodig hebt is een Virtual Reality bril. Wanneer je in de VR-wereld zit, kun je door het hele huis lopen. Ook kun je zelf het interieur bepalen en wijzigen. Je kunt jouw huis al compleet aankleden met meubilair en andere spullen, om een levensechte ervaring te krijgen.' %}#}
{#{% set innovation_content_button        = true %}#}
{#{% set button_link                      = 'https://www.youtube.com/watch?v=ZxdLYHF4IbQ' %}#}
{#{% set innovation_content_button_text   = 'Bekijk de video over VR' %}#}
{#{% set theme                            = '' %}#}

{#{% for innovations in range(1, innovation_id) %}#}
    {#<section class="innovation innovation-{{ innovations }}" id="anchor-{{ innovations }}" style="background:url({{ innovation_background }}) top center fixed no-repeat #ccc; background-size: 150%">#}
        {#<div class="innovation__container">#}
            {#<div class="innovation__content">#}
                {#{% if innovation_title and innovation_subtitle != '' %}#}
                    {#<div class="innovation__heading">#}
                        {#{% if innovation_title != '' %}#}
                            {#<h2 class="innovation__title">{{ innovation_title }}</h2>#}
                        {#{% endif %}#}
                        {#{% if innovation_subtitle != '' %}#}
                            {#<p class="innovation__subtitle">{{ innovation_subtitle }}</p>#}
                        {#{% endif %}#}
                    {#</div>#}
                {#{% endif %}#}

                {#{% if innovation_content %}#}
                    {#<article class="innovation__wrapper">#}
                        {#{% if innovation_content_title != '' %}#}
                            {#<h2 class="innovation__title">{{ innovation_content_title }}</h2>#}
                        {#{% endif %}#}
                        {#{% if innovation_content_paragraph != '' %}#}
                            {#<p class="innovation__paragraph">{{ innovation_content_paragraph }}</p>#}
                        {#{% endif %}#}
                        {#{% if innovation_content_button %}#}
                            {#<a class="button button--{{ theme }}" href="{{ button_link }}">#}
                                {#<span class="button__text">{{ innovation_content_button_text }}</span>#}
                            {#</a>#}
                        {#{% endif %}#}
                    {#</article>#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
{#{% endfor %}#}

<section class="innovation innovation-1" id="anchor-1">
    <div class="innovation__container">
        <div class="innovation__content">
            <article class="innovation__wrapper">
                <h2 class="innovation__title">Een bezoek aan jouw toekomstige huis</h2>
                <p class="innovation__paragraph">
                    Met de nieuwe VR technologie kun je binnenkort jouw nieuwe huis in lopen zonder
                    dat er iets gebouwd is. Het enige wat je nodig hebt is een Virtual Reality bril.
                    Wanneer je in de VR-wereld zit, kun je door het hele huis lopen. Ook kun je zelf
                    het interieur bepalen en wijzigen. Je kunt jouw huis al compleet aankleden met
                    meubilair en andere spullen, om een levensechte ervaring te krijgen.
                </p>
                <a class="button button--blue" href="https://www.youtube.com/watch?v=ZxdLYHF4IbQ" target="_blank">
                    <span class="button__text">Bekijk de video over VR</span>
                </a>
                <a class="button button--next" href="#">
                    <span class="button__text">Volgende innovatie</span>
                </a>
            </article>
        </div>
    </div>
</section>

<section class="innovation innovation-2" id="anchor-2">
    <div class="innovation__container">
        <div class="innovation__content">
            <article class="innovation__wrapper">
                <h2 class="innovation__title">Virtual Reality in de les</h2>
                <p class="innovation__paragraph">
                    VR kan je ook gebruiken om les te geven en zelf te leren. Zo is er nu een indrukwekkend
                    apparaat dat gekoppeld wordt aan diverse apparatuur met als doel te leren lassen op
                    elke locatie. Door  middel van een VR headset en lasapparatuur in kan een leerling
                    leren lassen buiten de normale werkplaats. Dit is een speelse en leuke manier van leren.
                </p>
                <a class="button button--blue" href="https://www.youtube.com/watch?v=csu4D3M-OHc" target="_blank">
                    <span class="button__text">Bekijk de video over VR</span>
                </a>
                <a class="button button--next" href="#">
                    <span class="button__text">Volgende innovatie</span>
                </a>
            </article>
        </div>
    </div>
</section>

<section class="innovation innovation-3" id="anchor-3">
    <div class="innovation__container">
        <div class="innovation__content">
            <div class="innovation__heading">
                <h2 class="innovation__title">Ben je klaar om de toekomst op te leiden?</h2>
            </div>
            <article class="innovation__wrapper">
                <h2 class="innovation__title">Leraar Techniek tweedegraads bij de Hogeschool Utrecht.</h2>
                <p class="innovation__paragraph">
                    Net als de levensbepalende technieken die zojuist zijn beschreven, kan ook jij invloed
                    hebben op de techniek in de toekomst. Als leraar techniek tweedegraads leidt jij de toekomst
                    op. Je inspireert jouw leerlingen om te streven naar een technologie die het leven beter
                    maakt. Ben je klaar om de toekomst op te leiden?
                </p>
            </article>
        </div>
    </div>
</section>
