{#{% set innovation_id                    = '2' %}#}
{#{% set innovation_background            = '/assets/img/innovation_1.jpg' %}#}
{#{% set innovation_title                 = '' %}#}
{#{% set innovation_subtitle              = '' %}#}
{#{% set innovation_content               = true %}#}
{#{% set innovation_content_title         = 'Een bezoek aan jouw toekomstige huis' %}#}
{#{% set innovation_content_paragraph     = 'Met de nieuwe VR technologie kun je binnenkort jouw nieuwe huis in lopen zonder dat er iets gebouwd is. Het enige wat je nodig hebt is een Virtual Reality bril. Wanneer je in de VR-wereld zit, kun je door het hele huis lopen. Ook kun je zelf het interieur bepalen en wijzigen. Je kunt jouw huis al compleet aankleden met meubilair en andere spullen, om een levensechte ervaring te krijgen.' %}#}
{#{% set innovation_content_button        = true %}#}
{#{% set button_link                      = 'https://www.youtube.com/watch?v=ZxdLYHF4IbQ' %}#}
{#{% set innovation_content_button_text   = 'Bekijk de video over VR' %}#}
{#{% set theme                            = '' %}#}

{#{% for innovations in range(1, innovation_id) %}#}
    {#<section class="innovation innovation-{{ innovations }}" id="anchor-{{ innovations }}" style="background:url({{ innovation_background }}) top center fixed no-repeat #ccc; background-size: 150%">#}
        {#<div class="innovation__container">#}
            {#<div class="innovation__content">#}
                {#{% if innovation_title and innovation_subtitle != '' %}#}
                    {#<div class="innovation__heading">#}
                        {#{% if innovation_title != '' %}#}
                            {#<h2 class="innovation__title">{{ innovation_title }}</h2>#}
                        {#{% endif %}#}
                        {#{% if innovation_subtitle != '' %}#}
                            {#<p class="innovation__subtitle">{{ innovation_subtitle }}</p>#}
                        {#{% endif %}#}
                    {#</div>#}
                {#{% endif %}#}

                {#{% if innovation_content %}#}
                    {#<article class="innovation__wrapper">#}
                        {#{% if innovation_content_title != '' %}#}
                            {#<h2 class="innovation__title">{{ innovation_content_title }}</h2>#}
                        {#{% endif %}#}
                        {#{% if innovation_content_paragraph != '' %}#}
                            {#<p class="innovation__paragraph">{{ innovation_content_paragraph }}</p>#}
                        {#{% endif %}#}
                        {#{% if innovation_content_button %}#}
                            {#<a class="button button--{{ theme }}" href="{{ button_link }}">#}
                                {#<span class="button__text">{{ innovation_content_button_text }}</span>#}
                            {#</a>#}
                        {#{% endif %}#}
                    {#</article>#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
{#{% endfor %}#}

<section class="innovation innovation-1" id="anchor-1">
    <div class="innovation__background">
        <div class="innovation__container">
            <div class="innovation__content">
                <article class="innovation__wrapper">
                    <h2 class="innovation__title">Wil jij lesgeven met Virtual Reality?</h2>
                    <p class="innovation__paragraph">
                        Virtual reality kan je gebruiken om les te geven. Via een virtuele wereld kun je bijvoorbeeld
                        leren lassen op iedere denkbare locatie. Door middel van een VR-headset kan elke leerling leren
                        lassen buiten de normale werkplaats. Dit is een speelse en snelle manier van leren.
                    </p>
                    <a class="button button--blue" href="https://youtu.be/wYRymhZrFmk?t=62" target="_blank">
                        <span class="button__icon-wrapper">
                            <i class="button__icon icon fas fa-play"></i>
                        </span>
                        <span class="button__text">Bekijk de video over VR</span>
                    </a>
                    <a class="button button--next" href="#">
                        <span class="button__icon-wrapper">
                            <i class="button__icon icon fas fa-angle-down"></i>
                        </span>
                        <span class="button__text">Volgende innovatie</span>
                    </a>
                </article>
            </div> 
        </div>
    </div>
</section>

<section class="innovation innovation--half innovation-2" id="anchor-2">
    <div class="innovation__background"></div>
    <div class="innovation__white"></div>
    <div class="innovation__container">
        <div class="innovation__content">
            <div class="innovation__center">
                <div class="innovation__heading">
                    <h2 class="innovation__title">Heb jij een passie voor techniek?</h2>
                    <p class="innovation__subtitle">Meld je dan nu aan en bekijk meer over leraar techniek</p>
                    <div class="c"></div>
                </div>
            </div>
            <article class="innovation__wrapper">
                <div class="innovation__center">
                    <h2 class="innovation__title">Studeer Leraar Techniek bij de Hogeschool Utrecht</h2>
                    <p class="innovation__paragraph">
                        Kom studeren voor leraar techniek en inspireer jouw leerlingen om ontwikkelingen in de technologie
                        te creëren. Word leraar techniek en leid de toekomst op!
                    </p>
                    <a class="button button--to-footer" href="#">
                        <span class="button__icon-wrapper">
                            <i class="button__icon icon fas fa-angle-down"></i>
                        </span>
                        <span class="button__text">Schrijf je in!</span>
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>


